extends layout

block title
  title Ota yhteyttä - Jouni jäppinen

block description
  meta(name="description" content="Yhteydenottolomake")

block destination
  main#contact
    a.back(href="/" rel="prefetch") Takaisin
    h1 Ota yhteyttä

    if(typeof internalMessage !== 'undefined')
      if(!post)
        div(class='message error') #{internalMessage}
      else
        div(class='message success') #{internalMessage}

    if(!post)
      form#post(method='POST')
        p
          input(type='text' id='name' name='name' placeholder='Nimi' value='#{name}' required autofocus)
        p
          input(type='email' id='email' name='email' placeholder='Sähköpostiosoite' value='#{email}' required)
        p
          input(type='text' id='subject' name='subject' placeholder='Aihe' value='#{subject}' required)
        p
          textarea(id='message' name='message' placeholder='Viesti (yli 20 merkkiä)' required) #{message}
        p
          input(type='submit' id='submit' value='Lähetä viesti')
    footer
      p Sivuston suunnittelu, toteutus ja ylläpito #[a(href="https://iiro.jappinen.fi" target="_blank") Iiro Jäppinen]
